@font-face{src: url(fonts/BebasNeue-Regular.ttf); font-family: Bebas;}
@font-face{ src: url(fonts/Kanit-Regular.ttf); font-family: Kanit;}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    align-content: space-evenly;
    column-gap: 10px;
    row-gap: 10px;
}
/*head*/
head{
    order: 7;
}
img{
    height: 100vh;
    animation: Logofade 2s linear;
}
.b{
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
/*navigation*/
nav{
    order: 6;
}
.nav{
    display: flex;
    justify-content: flex-start;
    margin-right: auto;
    position: fixed;
    top: 0px;
}
.navbar{
    border: none;
    appearance: none;
    color: white;
    background-color: black;
    font-size: 25px;
    width: 30px;
    height: 30px;
    position: relative;
}
.choose{
    text-align: center;
}
main{
    order: 5;
}
section{
    order: 4;
}
aside{
    order: 3;
}
form{
    order: 2;
}
footer{
    order: 1;
}

.redblock{
    height: fit-content ;
    width: fit-content;
    border-radius: 10px;
    background-color: rgb(255, 54, 54);
    padding: 10px;
    animation: redpopup linear both;
}
.blueblock{
    height: fit-content ;
    width: fit-content;
    background-color: rgb(157, 157, 255);
    border-radius: 10px;
    padding: 10px;
    animation: bluepopup linear both;
}
.titles{
    font-family: Bebas;
    font-size: 50px;
    text-align: center;
    color: white;
}
.paragraph{
    font-family: Kanit;
    font-size: 20px;
    text-align: center;
    color: white;
}

@keyframes redpopup{
    from{
        transform: translate(10px, 10px);
    }
    to{
        transform: translate(-10px, -10px);
        box-shadow: 10px 10px rgb(128, 25, 25);
    }
}

@keyframes bluepopup{
    from{
        transform: translate(10px, 10px);
    }
    to{
        transform: translate(-10px, -10px);
        box-shadow: 10px 10px rgb(64, 64, 104);
    }
}

@media screen(max-width:800px;){
    head, aside, section, article{
        width: 100%;
    }
}

@media (min-height:450px){
    img{
        max-height: 450px;
    }
}

@media (min-height:1000px){
    img{
        max-height: 1000px;
        max-width: 1000px;
    }
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes Logofade{
    0%{opacity: 0;}
    100%{opacity: 1;}
}